<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta http-equiv='content-type' content='text/html; charset=utf-8'/>

	<style type='text/css'>
		body, div, p, table {
			font-size:16pt;
			font-family:Maiandra GD;
		}

		img{border:none}
		
	</style>
	
</head>

<body>
<h3>Claim состоит из:</h3>
<br/>
<ul>
<li><b><i>Claimant (заявитель)</i></b> - лицо, у которого есть потеря собственности или травма</li>
</ul>
<ul>
<li><b><i>Damage (ущерб) </i></b>- потеря имущества или телесное повреждение. Повреждения иногда известно как «features» (для заявок GB - Benifits и Single Benefit Calculation соответственно)</li>
</ul>
<ul>
<li><b><i>Coverage (охват)</i></b> - соглашение из полиса для покрытия определенных видов повреждения или травмы, в пределах лимитов</li>
</ul>
<ul>
<li><b><i>Reserve (резерв)</i></b> - оценка того, сколько денег потребуется для компенсации заявитель за ущерб</li>
</ul>
<ul>
<li><b><i>Payment (оплата)</i></b> - деньги, предоставленные заявителю для компенсации ущерба, или поставщик, который помог восстановить поврежденный предмет или кто выполнил обслуживание в решении иска</li>
</ul>
</body>
</html>
